body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .card{
  border:1px solid black;
  box-shadow:0 0 5px black;
  width: 250px;
  margin :20px ;
}
.card-title, .description{
  text-align: center;
  margin: 0;
  padding: 10px;
}
.card-title{
  font-weight: bold;
  font-size: 14px;
}
.description{
  font-size: 12px;

}
.home-card{
  width: 80%;
  text-align: center;
  margin-left: 10%;
}
.home-card>.card{
  display: inline-block;
} */